[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./appearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./python_example.py

# Name of the bot in-game
name = PythonExampleBot

[Details]
# These values are optional but useful metadata for helper programs
# Name of the bot's creator/developer
developer = The RLBot community

# Short description of the bot
description = This is a multi-line description
    of the official python example bot

# Fun fact about the bot
fun_fact = 

# Link to github repository
github = https://github.com/RLBot/RLBotPythonExample

# Programming language
language = python
