[Locations]
# Path to loadout config. Can use relative path from here.
looks_config = ./disasterAppearance.cfg

# Path to python file. Can use relative path from here.
python_file = ./disasterBot.py

# Name of the bot in-game
name = DisasterBot